.container {
    width: 800px;
    margin: 0 auto;
    background-color: black;
    padding: 30px;
}
h1 {
    text-align: center; 
    color: rgb(109, 202, 149);
    font-size: 50px;
    margin: 0 auto;
    padding: 15px;
}
.row1 {
    background-color: hotpink;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
}
.row2 {
    background-color: purple;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
}
.row3 {
    background-color: blue;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
img.octocat {
    height: 200px;
}
